.rule-container{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.66);
  z-index: 999;
  .rule-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .rule{
      box-sizing: border-box;
      padding: rem(10);
      width: rem(300);
      height: rem(432);
      border-radius: rem(8);
      &-box{
        width: rem(280);
        height: rem(412);
        background: #fff;
        border-radius: rem(8);
      }
      h2{
        height: rem(60);
        border-bottom: #E6E6E6 solid rem(1);
        @include flex($jus:center);
        .title{
          height:rem(31);
          font-size:rem(22);
          font-weight:500;
          color:rgba(108,51,0,1);
          line-height:rem(31);
          padding: 0 rem(53);
          background: url(https://g.smartcinema.com.cn/images/c08cea1e39f74b51a2dced3e60f3ec0f-152-72.png) 0 center no-repeat, url(https://g.smartcinema.com.cn/images/94e3904ce27f42b6929a53ebdd1007d3-152-72.png) right center no-repeat;
          background-size: rem(38) rem(18);
        }
      }
      .context-container{
        margin: rem(20) rem(23) rem(14);
        height: rem(315);
        overflow: hidden;
        .context-wrapper{
          height: 100%;
          overflow-y: auto;
          text-align: justify;
          p{
            font-size:rem(14);
            font-weight:500;
            color:#999999;
            line-height:rem(24);
            &.subtitle{
              color: #333333;
            }
          }
        }
      }
    }
    .close{
      margin: rem(20) auto 0;
      width: rem(30);
      height: rem(30);
      background: url(https://g.smartcinema.com.cn/images/bcc537e4bd7c426493cc5440fb992249-120-120.png);
      background-size: 100% 100%;
    }
  }
}