$px-75: 75;

$px-375: 37.5;

$bg-body: #ffffff;
$bg-strong: #fbdfaf;
$bg-gradual-start: #e8bf8f;
$bg-gradual-stop: #cc9361;

$color-normal: #999999;
$color-dark: #e0e0e0;
$color-light: #666666;
$color-strong: #e8bf8f;
$color-active: #e8bf8f;
$color-error: #f14363;

// 自定义loading
$color-text-loading: rgba(255, 255, 255, 0.1);

@function getRem($n) {
  @return ($n / $px-75) * 1rem;
}

@function getRem375($n) {
  @return ($n / $px-375) * 1rem;
}

@function rem($n) {
  @return ($n / $px-375) * 1rem;
}

$page-margin: rem(15);

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text-ellipsis() {
  @include text-overflow();
}

@mixin flex($flow: row nowrap, $jus: space-between, $ali: center) {
  display: flex;
  flex-flow: $flow;
  justify-content: $jus;
  align-items: $ali;
}

@mixin page-padding() {
  padding-left: $page-margin;
  padding-right: $page-margin;
}

@mixin font($size: 14, $lh: 20) {
  line-height: rem($lh);
  font-size: rem($size);
}

@mixin font14() {
  @include font(14, 20);
}

@mixin font12() {
  @include font(12, 17);
}

@mixin font10() {
  @include font(10, 14);
}

@mixin title-1() {
  @include font(24, 33);
  color: $color-dark;
}
